$height-to-width-ratio: 0.8660254;

:root {
  --bestagon-gap: 0.8rem;
  --bestagon-size: 14rem;
  --bestagon-border-size: 2px;
  --bestagon-border-color: black;
}

.bestagon-rows,
.bestagon-rows-odd,
.bestagon-columns,
.bestagon-columns-odd {
  --bestagon-size-a: calc(var(--bestagon-size) * #{$height-to-width-ratio});
  --bestagon-offset: calc((var(--bestagon-size-a) / 2) + (var(--bestagon-gap) / 2));
  --bestagon-shift: calc(var(--bestagon-size) / -4);
}

.bestagon-rows,
.bestagon-rows-odd {
  display: flex;
  flex-direction: column;
  gap: var(--bestagon-gap);

  .bestagon-cell,
  .bestagon-space,
  .bestagon-border {
    flex-shrink: 0;
    width: var(--bestagon-size-a);
    height: var(--bestagon-size);
  }

  .bestagon-cell,
  .bestagon-border {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  .bestagon-border {
    padding: calc(var(--bestagon-border-size) / $height-to-width-ratio) var(--bestagon-border-size);
  }
}

.bestagon-rows .bestagon-row:nth-child(even),
.bestagon-rows-odd .bestagon-row:nth-child(odd) {
  margin-left: var(--bestagon-offset);
}

.bestagon-row {
  display: flex;
  flex-direction: row;
  gap: var(--bestagon-gap);

  &:not(:first-child) {
    margin-top: var(--bestagon-shift);
  }
}

.bestagon-columns,
.bestagon-columns-odd {
  display: flex;
  flex-direction: row;
  gap: var(--bestagon-gap);

  .bestagon-cell,
  .bestagon-space,
  .bestagon-border {
    flex-shrink: 0;
    width: var(--bestagon-size);
    height: var(--bestagon-size-a);
  }

  .bestagon-cell,
  .bestagon-border {
    clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  }

  .bestagon-border {
    padding: var(--bestagon-border-size) calc(var(--bestagon-border-size) / $height-to-width-ratio);
  }
}

.bestagon-columns .bestagon-column:nth-child(even),
.bestagon-columns-odd .bestagon-column:nth-child(odd) {
  margin-top: var(--bestagon-offset);
}

.bestagon-column {
  display: flex;
  flex-direction: column;
  gap: var(--bestagon-gap);

  &:not(:first-child) {
    margin-left: var(--bestagon-shift);
  }
}

.bestagon-cell {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bestagon-space {
  visibility: hidden;
}

.bestagon-border {
  box-sizing: border-box;
  background-color: var(--bestagon-border-color);
}

.bestagon-border .bestagon-cell,
.bestagon-border .bestagon-border {
  width: 100%;
  height: 100%;
}