$height-to-width-ratio: 0.8660254;

:root {
  --bestagon-gap: 0.8rem;
  --bestagon-size: 14rem;
}

.bestagon-rows,
.bestagon-rows-odd,
.bestagon-columns,
.bestagon-columns-odd {
  --bestagon-size-a: calc(var(--bestagon-size) * #{$height-to-width-ratio});
  --bestagon-offset: calc(
    (var(--bestagon-size-a) / 2) + (var(--bestagon-gap) / 2)
  );
  --bestagon-shift: calc(var(--bestagon-size) / -4);
}

.bestagon-rows,
.bestagon-rows-odd {
  display: flex;
  flex-direction: column;
  gap: var(--bestagon-gap);

  & > .bestagon-row {
    display: flex;
    flex-direction: row;
    gap: var(--bestagon-gap);

    & > .bestagon-cell,
    & > .bestagon-space {
      width: var(--bestagon-size-a);
      height: var(--bestagon-size);
    }

    & > .bestagon-cell {
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }

    & > .bestagon-space {
      visibility: hidden;
    }

    &:not(:first-child) {
      margin-top: var(--bestagon-shift);
    }
  }
}

.bestagon-columns,
.bestagon-columns-odd {
  display: flex;
  flex-direction: row;
  gap: var(--bestagon-gap);

  & > .bestagon-column {
    display: flex;
    flex-direction: column;
    gap: var(--bestagon-gap);

    & > .bestagon-cell,
    & > .bestagon-space {
      width: var(--bestagon-size);
      height: var(--bestagon-size-a);
    }

    & > .bestagon-cell {
      clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    }

    & > .bestagon-space {
      visibility: hidden;
    }

    &:not(:first-child) {
      margin-left: var(--bestagon-shift);
    }
  }
}

.bestagon-rows > .bestagon-row:nth-child(even) {
  margin-left: var(--bestagon-offset);
}
.bestagon-rows-odd > .bestagon-row:nth-child(odd) {
  margin-left: var(--bestagon-offset);
}
.bestagon-columns > .bestagon-column:nth-child(even) {
  margin-top: var(--bestagon-offset);
}
.bestagon-columns-odd > .bestagon-column:nth-child(odd) {
  margin-top: var(--bestagon-offset);
}
